extends layout

block content
  h1= title
  if errors 
    each error, index in errors
      span(class='error') #{error}
      br
  if books
    each bookData, index in books
      span
        img(src='/bookImages/' + bookData._id)
      span
        ul
          li Title: #{bookData.title}
          li Author: #{bookData.author}
          li Rating: #{bookData.rating}
          li Description: #{bookData.description}
          li Download 
            a(href='/download/' + bookData._id + '/pdf') pdf 
            | or 
            a(href='/download/' + bookData._id + '/txt') txt
      br