.file-upload {
  width: 40%;
}
.book-title {
  font-weight: bold;
  width: 100%;
}
.book-cell {
  text-align: center;
  padding-top: 0.5em;
  /*padding-bottom: 0.5em;*/
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.book-list-row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.book-list-row .book-image, .book-list-row .book-title, .book-list-row .book-details {
  cursor: pointer;
}
.book-list-row:hover,.book-list-row.active {
  background-color: #f3f3f3;  
}
.book-cell:hover,.book-cell.active,.book-row.book-detail {
  background-color: #f3f3f3;
  cursor: pointer;
}
.book-row.book-detail {
  padding-bottom: 1em;
  padding-top: 1em;
}
.book-row {
  overflow: hidden;   
}
.book-description {
  overflow: hidden;
}
.book-image {
  border: 1px solid black;
  margin-bottom: 0.5em;
}
a.book-detail-back:hover {
  text-decoration: none;
}
.book-detail-back-row {
  vertical-align: top;
}
.book-small-item {
  cursor: pointer;
}
.overlay {
  background-color: rgba(0,0,0,.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16777271;
  display: none;
}
.files .row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /*border-top: 1px solid black;*/
  border-bottom: 1px solid black;
}
.files .row:first-child {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /*border-top: 1px solid black;*/
  border-top: 1px solid black;
}
/*      .files-table {
  table-layout: fixed;
}      */
.files-table-name-col, .files-table-progress-col, .files-table-buttons-col {
/*        overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap*/
  /*border-bottom: 1px solid black;*/
}
span.stars, span.stars span {
    display: block;
    width: 80px;
    height: 16px;
}
.star-center {
  margin-right: auto;
  margin-left: auto;
}

span.stars span {
    background: url(../img/stars.png) 0 -16px repeat-x;
    background-position: 0 0;
}