<!DOCTYPE html>
<html data-ng-app="ebooker">
  <head>
    <title>EBooker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap-3.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="css/jquery.fileupload-ui.css" rel="stylesheet" media="screen">
    <link href="css/ebooker.css" rel="stylesheet" media="screen">    

  </head>
  <body data-ng-controller="BookListCtrl">
    <div class="container">
      <h1 class="text-center">EBooker</h1>

      <div data-ng-view id="bookView"></div>
      <form id="fileupload" action="/upload" method="POST" enctype="multipart/form-data" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}" class='form-inline text-center'>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div>
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span>Add Books...</span>
                  <input type="file" name="fileToUpload[]" multiple data-ng-disabled="disabled">
                </span>
                <button type="button" class="btn btn-primary start" data-ng-click="submit()"  data-ng-hide="active()">
                  <span class="glyphicon glyphicon-upload"></span>
                  <span>Start upload</span>
                </button>
                <button type="button" class="btn btn-default cancel" data-ng-click="cancel()" data-ng-show="active()">
                  <span class="glyphicon glyphicon-ban-circle"></span>
                  <span>Cancel upload</span>
                </button>
                <button data-ng-controller="EBookerFileUploadController" type="button" class="btn btn-default" data-ng-click="clear()" data-ng-if='queue.length > 0'>
                  <span class="glyphicon glyphicon-remove-sign"></span>                
                  <span>Clear uploads</span>
                </button>
                <!-- The loading indicator is shown during file processing -->
                <div class="fileupload-loading"></div>

            </div>
            <!-- The global progress information -->
            <div class="fade" data-ng-class="{in: active()}">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar" data-ng-style="{width: num + '%'}"></div></div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <div class="files ng-cloak col-lg-10 col-lg-offset-1">
          <div class="row" data-ng-repeat="file in queue">
            <div class="text-left col-lg-7 files-table-name-col">
              <p class="name" data-ng-switch data-on="!!file.url">
              <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
              </span>
              <span data-ng-switch-default>{{file.name}}</span>
              </p>
              <div data-ng-show="file.error"><span class="label label-danger">Error</span> {{file.error}}</div>
            </div>
            <div class="col-lg-2 files-table-progress-col">
              <p class="size">{{file.size | formatFileSize}}</p>
              <div class="progress progress-success progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar" data-ng-style="{width: num + '%'}"></div></div>
            </div>
            <div class="col-lg-3" files-table-buttons-col>
              <button type="button" class="btn btn-primary start btn-mini" data-ng-click="file.$submit()" data-ng-hide="!file.$submit">
                Start upload <span class="glyphicon glyphicon-upload"></span>
              </button>
              <button type="button" class="btn btn-default cancel btn-mini" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                Cancel upload <span class="glyphicon glyphicon-ban-circle"></span>                          
              </button>
            </div>
          </div>          
        </div>
      </form>
    </div>
    <script src="js/jquery-1.10.1.min.js"></script>
    <!-- Angular -->
    <script src="js/angular-1.1.5.min.js"></script>

    <!-- http://fgnass.github.io/spin.js/ -->
    <script src="js/spin.min.js"></script>    

    <!-- JavaScript plugins (requires jQuery) -->
    <!-- <script src="js/libs/jquery-1.9.1.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Optionally enable responsive features in IE8. Respond.js can be obtained from https://github.com/scottjehl/Respond -->
    <script src="js/respond.min.js"></script>
    <script src="js/jquery.ui.widget-1.10.3.js"></script>    
    <script src="js/jquery.iframe-transport-8.7.1.js"></script>
    <script src="js/jquery.fileupload-8.7.1.js"></script>
    <script src="js/jquery.fileupload-process-8.7.1.js"></script>
    <script src="js/jquery.fileupload-angular-8.7.1.js"></script>

    <!-- Controllers -->
    <script src="js/controllers.js"></script>    

  </body>
</html>