<div class="panel">
  <div class="row">
    <div class="col-lg-4 col-12">
      <ul class="breadcrumb">
        <li class="active">All Books
        </li>
      </ul>
    </div>
    <div class="col-lg-7 col-10">
      <div class="input-group">
        <input type="text" class="form-control input-small" data-ng-model="searchTerms" data-ng-change="clearSelection()">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle btn-small" data-toggle="dropdown">{{getSearchType()}} &nbsp;<span class="glyphicon glyphicon-search"></span> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a data-ng-click='setSearchType("Eveything")'>Everything</a></li>
            <li><a data-ng-click='setSearchType("Text")'>Text</a></li>
            <li><a data-ng-click='setSearchType("Title")'>Title</a></li>
            <li><a data-ng-click='setSearchType("Author")'>Author</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-2">
      <div class="btn-group">
        <button data-ng-click="showThumbs()" class="btn btn-default btn-small" disabled="disabled"><span class="glyphicon glyphicon-th-large"></span></button>
        <button data-ng-click="showList()" class="btn btn-default btn-small"><span class="glyphicon glyphicon-th-list"></span></button>
      </div>
    </div>
  </div>
  <div data-ng-repeat="bookRow in books">
    <div class="row book-row" data-ng-init="rowIndex=$index" id='book-row-{{rowIndex}}'>    
      <div data-ng-repeat="book in bookRow">
        <div class="col-lg-2 book-cell" data-ng-class='{ true: "active" }[book._id == selectedId]' data-ng-click='showBook(book._id, rowIndex)'>
          <img data-ng-src="/bookImages/{{book._id}}" class="img-responsive book-image"><br>
          <span class='book-title' title="{{book.title}}">{{truncate(book.title, 35)}}</span><br>    
          <span class="stars star-center" title='{{book.rating * 100}}%' data-ng-if='book.rating != "Unknown"'><span data-ng-style="{ 'width': 16 * 5 * book.rating + 'px'}"></span></span>
        </div>
      </div>
    </div>
    <div data-ng-if='selectedRow == $index'>
      <div class="row book-row book-detail" data-ng-controller='BookDetailCtrl'>
        <div class="col-lg-12">
          <div data-ng-hide='editMode'>

            <div class='pull-right'>
              <button class='btn btn-default btn-mini' data-ng-click='edit()' title='Edit book information'><span class="glyphicon glyphicon-pencil"></button>
              <button class='btn btn-default btn-mini' data-ng-click='refresh()' title='Attempt to match book information with Amazon'><span class="glyphicon glyphicon-refresh"></button>
              <button class='btn btn-default btn-mini' data-ng-click='remove()' title='Delete book'><span class="glyphicon glyphicon-trash"></button>
            </div>
            <span class='book-title' title="{{book.title}}">{{book.title}}</span> 
            <br>
            <span class='book-author' title="{{book.author}}">{{prettyPrintAuthor(book.author)}}</span><br>
            <br>
            <span class='book-description'>{{book.description}}</span><br>
            <br>
            <a href="/download/{{book._id}}/pdf"><button type="button" class="btn btn-default btn-mini">PDF</button></a> 
            <a href="/download/{{book._id}}/txt"><button type="button" class="btn btn-default btn-mini">TXT</button></a> 
            <a href="/viewer.html?file=/download/{{book._id}}"><button type="button" class="btn btn-default btn-mini">Online</button></a> 
            <br>
          </div>
          <div data-ng-show='editMode'>
            <!-- <form data-ng-submit='edit()'> -->
            <form name='editForm'>
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" data-ng-model='book.title' name="title" value='{{book.title}}' required>
              </div>
              <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" data-ng-list data-ng-model='book.author' name="author" value='{{book.author}}'>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" data-ng-model='book.description' name="description" rows="5">{{book.description}}</textarea>
              </div>
              <br>
              <button class='btn btn-primary' data-ng-click='save(editForm)' data-ng-disabled='editForm.$invalid'>Save</button> 
              <a class='btn btn-primary' data-ng-click='cancel()'>Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>